/STM32_Projects/STM32F103ZET6/Templete_zet/MDK-ARM/Breathing-Lamps/
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep    
*.null    
**/.assets/
JLinkLog.txt

*.iex
*.htm
*.sct
*.map

*.dbgconf


.vscode